<h1>Materials</h1>

{{! READ table }}
<table>
    <thead>
        {{! For the table header row, we print the DB attribute names }}
        <tr>
            {{#each materials.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th></th>
        </tr>
    </thead>

    <tbody>
        {{! For each row, print the material attributes }}
        {{#each materials}}
        <tr>
            <td>{{this.id_material}}</td>
            <td>{{this.name}}</td>
            <td>{{this.description}}</td>
            <td>{{this.created_date}}</td>
            <td>{{this.modified_date}}</td>
            <td>{{this.base_color}}</td>
            <td>{{this.roughness}}</td>
            <td>{{this.metallic}}</td>
            <td>{{this.transparency}}</td>
            <td>{{this.file_path}}</td>
            <td>{{this.id_artist}}</td>
            <td>{{this.is_active}}</td>

            {{! DELETE form }}
            <form id='delete_material_form' method='POST' action='/materials/delete'>
                <input type='hidden' name='delete_material_id' value='{{this.id_material}}' />
                <input type='hidden' name='delete_material_name' value='{{this.name}}' />
                <td>
                    <button type='submit'>
                        Delete
                    </button>
                </td>
            </form>
        </tr>
        {{/each}}
    </tbody>
</table>

{{! CREATE form }}
<h2>Create a Material</h2>
<form class='cuForm' id='create_material_form' method='POST' action='/materials/create'>
    <label for='create_material_name'>Name: </label>
    <input type='text' name='create_material_name' id='create_material_name' required />

    <label for='create_material_description'>Description: </label>
    <input type='text' name='create_material_description' id='create_material_description' />

    <label for='create_material_created_date'>Created Date: </label>
    <input type='date' name='create_material_created_date' id='create_material_created_date' required />

    <label for='create_material_modified_date'>Modified Date: </label>
    <input type='date' name='create_material_modified_date' id='create_material_modified_date' />

    <label for='create_material_base_color'>Base Color: </label>
    <input type='text' name='create_material_base_color' id='create_material_base_color' />

    <label for='create_material_roughness'>Roughness: </label>
    <input type='number' name='create_material_roughness' id='create_material_roughness' step='0.01' min='0' max='1' />

    <label for='create_material_metallic'>Metallic: </label>
    <input type='number' name='create_material_metallic' id='create_material_metallic' step='0.01' min='0' max='1' />

    <label for='create_material_transparency'>Transparency: </label>
    <input type='number' name='create_material_transparency' id='create_material_transparency' step='0.01' min='0' max='1' />

    <label for='create_material_file_path'>File Path: </label>
    <input type='text' name='create_material_file_path' id='create_material_file_path' required />

    <label for='create_material_id_artist'>Artist ID: </label>
    <select name='create_material_id_artist' id='create_material_id_artist'>
        <option value='' disabled selected>Select an Artist</option>
        {{#each artists}}
        <option value='{{this.id_artist}}'>
            {{this.id_artist}} - {{this.first_name}} {{this.last_name}}
        </option>
        {{/each}}
    </select>

    <label for='create_material_is_active'>Is Active: </label>
    <select name='create_material_is_active' id='create_material_is_active' required >
        <option value='1' selected>Select</option>
        <option value='1'>Active</option>
        <option value='0'>Inactive</option>
    </select>

    <input type='submit' />
</form>

{{! UPDATE form }}
<h2>Update a Material</h2>
<form class='cuForm' id='update_material_form'>
    <label for='update_material_id'>Material to Update: </label>
    <select name='update_material_id' id='update_material_id' required>
        <option value='' disabled selected>Select a Material</option>
        {{#each materials}}
        <option value='{{this.id_material}}' required>
            {{this.id_material}}
            -
            {{this.name}}
        </option>
        {{/each}}
    </select>

    <label for='update_material_description'>Description: </label>
    <input type='text' name='update_material_description' id='update_material_description' />

    <label for='update_material_base_color'>Base Color: </label>
    <input type='text' name='update_material_base_color' id='update_material_base_color' />

    <label for='update_material_roughness'>Roughness: </label>
    <input type='number' name='update_material_roughness' id='update_material_roughness' step='0.01' min='0' max='1' />

    <label for='update_material_metallic'>Metallic: </label>
    <input type='number' name='update_material_metallic' id='update_material_metallic' step='0.01' min='0' max='1' />

    <label for='update_material_transparency'>Transparency: </label>
    <input type='number' name='update_material_transparency' id='update_material_transparency' step='0.01' min='0' max='1' />

    <label for='update_material_file_path'>File Path: </label>
    <input type='text' name='update_material_file_path' id='update_material_file_path' />

    <label for='update_material_id_artist'>Artist ID: </label>
    <select name='update_material_id_artist' id='update_material_id_artist'>
        <option value='' disabled selected>Select an Artist</option>
        {{#each artists}}
        <option value='{{this.id_artist}}'>
            {{this.id_artist}} - {{this.first_name}} {{this.last_name}}
        </option>
        {{/each}}
    </select>

    <label for='update_material_is_active'>Is Active: </label>
    <input type='checkbox' name='update_material_is_active' id='update_material_is_active' />

    <input type='submit' />
</form>
