<h1>Model-Artist Relationships</h1>

{{! READ table }}
<table>
    <thead>
        {{! For the table header row, we print the DB attribute names }}
        <tr>
            <th>id_model_artist</th>
            <th>model_name</th>
            <th>artist_full_name</th>
        </tr>
    </thead>

    <tbody>
        {{! For each row, print the model-artist attributes }}
        {{#each modelArtists}}
        <tr>
            <td>{{this.id_model_artist}}</td>
            <td>{{this.model_name}}</td>
            <td>{{this.artist_full_name}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>

{{! CREATE form }}
<h2>Create a Model-Artist Relationship</h2>
<form class='cuForm' id='create_model_artist_form' method='POST' action='/model-artist/create'>
    <label for='create_model_artist_id_model'>Model ID: </label>
    <select name='create_model_artist_id_model' id='create_model_artist_id_model' required>
        <option value='' disabled selected>Select a Model</option>
        {{#each models}}
        <option value='{{this.id_model}}'>{{this.id_model}} - {{this.name}}</option>
        {{/each}}
    </select>

    <label for='create_model_artist_id_artist'>Artist ID: </label>
    <select name='create_model_artist_id_artist' id='create_model_artist_id_artist' required>
        <option value='' disabled selected>Select an Artist</option>
        {{#each artists}}
        <option value='{{this.id_artist}}'>{{this.id_artist}} - {{this.first_name}} {{this.last_name}}</option>
        {{/each}}
    </select>

    <input type='submit' />
</form>

{{! UPDATE form }}
<h2>Update a Model-Artist Relationship</h2>
<form class='cuForm' id='update_model_artist_form' method='POST' action='/model-artist/update'>
    <label for='update_model_artist_id'>Relationship to Update: </label>
    <select name='update_model_artist_id' id='update_model_artist_id' required>
        <option value='' disabled selected>Select a Relationship</option>
        {{#each modelArtists}}
        <option value='{{this.id_model_artist}}' required>
            {{this.id_model_artist}} - {{this.model_name}} / {{this.artist_full_name}}
        </option>
        {{/each}}
    </select>

    <label for='update_model_artist_id_model'>Model ID: </label>
    <select name='update_model_artist_id_model' id='update_model_artist_id_model' required>
        <option value='' disabled selected>Select a Model</option>
        {{#each models}}
        <option value='{{this.id_model}}'>{{this.id_model}} - {{this.name}}</option>
        {{/each}}
    </select>

    <label for='update_model_artist_id_artist'>Artist ID: </label>
    <select name='update_model_artist_id_artist' id='update_model_artist_id_artist' required>
        <option value='' disabled selected>Select an Artist</option>
        {{#each artists}}
        <option value='{{this.id_artist}}'>{{this.id_artist}} - {{this.first_name}} {{this.last_name}}</option>
        {{/each}}
    </select>

    <input type='submit' />
</form>

{{! DELETE form }}
<h2>Delete a Model-Artist Relationship</h2>
<form class='cuForm' id='delete_model_artist_form' method='POST' action='/model-artist/delete'>
    <label for='delete_model_artist_id'>Relationship to Delete: </label>
    <select name='delete_model_artist_id' id='delete_model_artist_id' required>
        <option value='' disabled selected>Select a Relationship</option>
        {{#each modelArtists}}
        <option value='{{this.id_model_artist}}' required>
            {{this.id_model_artist}} - {{this.model_name}} / {{this.artist_full_name}}
        </option>
        {{/each}}
    </select>

    <input type='submit' />
</form>