{{!--
    Citation for this file: models.hbs
    Date: 03/10/2026
    Adapted from: CS340 Canvas Exploration - Web Application Technology, Node.js starter code
    Source URL: https://canvas.oregonstate.edu/courses/2031764/pages/exploration-web-application-technology-2?module_item_id=26243419
--}}

{{!-- 
    Citation for use of AI Tools:
    Date: 03/12/2026
    Prompts used: How do i auto-populate a form with attributes currently in the database once a user has selected an ID from the dropdown menu. 
    Here is the JS app.post code and handlebar form code. {INSERT_JS_CODE} {INSERT_HANDLEBAR_CODE}
    AI Source URL: google.com/ai 
 --}}

<h1>Models</h1>

{{! READ table }}
<table>
    <thead>
        {{! For the table header row, we print the DB attribute names }}
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Created On</th>
            <th>Modified On</th>
            <th>File Path</th>
            <th>Active</th>
            <th>Material</th>
            <th>Texture</th>
        </tr>
    </thead>

    <tbody>
        {{! For each row, print the model attributes }}
        {{#each models}}
        <tr>
            <td>{{this.ID}}</td>
            <td>{{this.Name}}</td>
            <td>{{this.Description}}</td>
            <td>{{this.[Created On]}}</td>
            <td>{{this.[Modified On]}}</td>
            <td>{{this.[File Path]}}</td>
            <td>{{#if this.Active}}YES{{else}}NO{{/if}}</td>
            <td>{{this.Material}}</td>
            <td>{{this.Texture}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>

<div class="gridForm">
    {{! CREATE form }}
    <form class='cuForm' id='create_model_form' method='POST' action='/models/create'>
        <h2>Create a Model</h2>

        <label for='create_model_name'>Name: </label>
        <input type='text' name='create_model_name' id='create_model_name' required />

        <label for='create_model_description'>Description: </label>
        <input type='text' name='create_model_description' id='create_model_description' />

        <label for='create_model_created_date'>Created Date: </label>
        <input type='date' name='create_model_created_date' id='create_model_created_date' required />

        <label for='create_model_modified_date'>Modified Date: </label>
        <input type='date' name='create_model_modified_date' id='create_model_modified_date' />

        <label for='create_model_file_path'>File Path: </label>
        <input type='text' name='create_model_file_path' id='create_model_file_path' required />

        <label for='create_model_is_active'>Is Active: </label>
        <select name='create_model_is_active' id='create_model_is_active' required >
            <option value='' selected>Select</option>
            <option value='1'>Active</option>
            <option value='0'>Inactive</option>
        </select>

        <label for='create_model_id_material'>Material: </label>
        <select name='create_model_id_material' id='create_model_id_material'>
            <option value='' disabled selected>Select a Material</option>
            {{#each materials}}
            <option value='{{this.id_material}}'>{{this.id_material}} - {{this.name}}</option>
            {{/each}}
        </select>

        <label for='create_model_id_texture'>Texture: </label>
        <select name='create_model_id_texture' id='create_model_id_texture'>
            <option value='' disabled selected>Select a Texture</option>
            {{#each textures}}
            <option value='{{this.id_texture}}'>{{this.id_texture}} - {{this.name}}</option>
            {{/each}}
        </select>

        <input type='submit' class="submit"/>
    </form>

    {{! UPDATE form }}
    <form class='cuForm' id='update_model_form' method='POST' action='/models/update'>
        <h2>Update a Model</h2>

        <label for='update_model_id'>Model to Update: </label>
        <select name='update_model_id' id='update_model_id' required>
            <option value='' disabled selected>Select a Model</option>
            {{#each models}}
            <option value="{{this.ID}}" 
                data-description="{{this.Description}}" 
                data-modified-date="{{this.[Modified On]}}"
                data-file-path="{{this.[File Path]}}"
                data-active="{{this.Active}}"
                data-material="{{this.MaterialID}}"
                data-texture="{{this.TextureID}}">
                {{this.ID}} - {{this.Name}}
            </option>
            {{/each}}
        </select>

        <label for='update_model_description'>Description: </label>
        <input type='text' name='update_model_description' id='update_model_description' />

        <label for='update_model_modified_date'>Modified Date: </label>
        <input type='date' name='update_model_modified_date' id='update_model_modified_date' />

        <label for='update_model_file_path'>File Path: </label>
        <input type='text' name='update_model_file_path' id='update_model_file_path' required />

        <label for='update_model_is_active'>Is Active: </label>
        <select name='update_model_is_active' id='update_model_is_active' required >
            <option value='' disabled selected>Select</option>
            <option value='1'>Active</option>
            <option value='0'>Inactive</option>
        </select>

        <label for='update_model_id_material'>Material: </label>
        <select name='update_model_id_material' id='update_model_id_material'>
            <option value='' disabled selected>Select a Material</option>
            {{#each materials}}
            <option value='{{this.id_material}}'>{{this.id_material}} - {{this.name}}</option>
            {{/each}}
        </select>

        <label for='update_model_id_texture'>Texture: </label>
        <select name='update_model_id_texture' id='update_model_id_texture'>
            <option value='' disabled selected>Select a Texture</option>
            {{#each textures}}
            <option value='{{this.id_texture}}'>{{this.id_texture}} - {{this.name}}</option>
            {{/each}}
        </select>

        <input type='submit' class="submit"/>
    </form>

    {{! DELETE form }}
    <form class='cuForm' id='delete_model_form' method='POST' action='/models/delete'>
        <h2>Delete a Model</h2>

        <label for='delete_model_id'>Model to Delete: </label>
        <select name='delete_model_id' id='delete_model_id' required>
            <option value='' disabled selected>Select a Model</option>
            {{#each models}}
            <option value='{{this.ID}}' required>
                {{this.ID}}
                -
                {{this.Name}}
            </option>
            {{/each}}
        </select>

        <input type='submit' class="submit"/>
    </form>
</div>

{{!-- Auto Populate --}}
<script>
    const modelSelect = document.getElementById('update_model_id');
    const descriptionInput = document.getElementById('update_model_description');
    const modifiedDateInput = document.getElementById('update_model_modified_date');
    const filePathInput = document.getElementById('update_model_file_path');
    const activeInput = document.getElementById('update_model_is_active');
    const materialInput = document.getElementById('update_model_id_material');
    const textureInput = document.getElementById('update_model_id_texture');

    modelSelect.addEventListener('change', function() {
        // Get the currently selected option element
        const selectedOption = this.options[this.selectedIndex];

        // Pull the data attributes we added in Step 1
        const description = selectedOption.getAttribute('data-description');
        const modifiedDate = selectedOption.getAttribute('data-modified-date');
        const filePath = selectedOption.getAttribute('data-file-path');
        const active = selectedOption.getAttribute('data-active');
        const material = selectedOption.getAttribute('data-material');
        const texture = selectedOption.getAttribute('data-texture');

        const mdParts = modifiedDate.split('/');
        const mdFormatted = `${mdParts[2]}-${mdParts[1]}-${mdParts[0]}`; 

        // Populate the input fields
        descriptionInput.value = description || '';
        modifiedDateInput.value = mdFormatted || '';
        filePathInput.value = filePath || '';
        activeInput.value = active || '';
        materialInput.value = material || '';
        textureInput.value = texture || '';
    });
</script>