{{!--
    Citation for this file: textures.hbs
    Date: 03/10/2026
    Adapted from: CS340 Canvas Exploration - Web Application Technology, Node.js starter code
    Source URL: https://canvas.oregonstate.edu/courses/2031764/pages/exploration-web-application-technology-2?module_item_id=26243419
--}}

{{!-- 
    Citation for use of AI Tools:
    Date: 03/12/2026
    Prompts used: How do i auto-populate a form with attributes currently in the database once a user has selected an ID from the dropdown menu. 
    Here is the JS app.post code and handlebar form code. {INSERT_JS_CODE} {INSERT_HANDLEBAR_CODE}
    AI Source URL: google.com/ai 
 --}}

<h1>Textures</h1>

{{! READ table }}
<table>
    <thead>
        {{! For the table header row, we print the DB attribute names }}
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Created On</th>
            <th>Modified On</th>
            <th>Resolution</th>
            <th>File Path</th>
            <th>Artist</th>
            <th>Active</th>
        </tr>
    </thead>

    <tbody>
        {{! For each row, print the texture attributes }}
        {{#each textures}}
        <tr>
            <td>{{this.ID}}</td>
            <td>{{this.Name}}</td>
            <td>{{this.Description}}</td>
            <td>{{this.[Created On]}}</td>
            <td>{{this.[Modified On]}}</td>
            <td>{{this.Resolution}}</td>
            <td>{{this.[File Path]}}</td>
            <td>{{this.Artist}}</td>
            <td>{{#if this.Active}}YES{{else}}NO{{/if}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>

<div class="gridForm">
    {{! CREATE form }}
    <form class='cuForm' id='create_texture_form' method='POST' action='/textures/create'>
        <h2>Create a Texture</h2>

        <label for='create_texture_name'>Name: </label>
        <input type='text' name='create_texture_name' id='create_texture_name' required />

        <label for='create_texture_description'>Description: </label>
        <input type='text' name='create_texture_description' id='create_texture_description' />

        <label for='create_texture_created_date'>Created Date: </label>
        <input type='date' name='create_texture_created_date' id='create_texture_created_date' required />

        <label for='create_texture_modified_date'>Modified Date: </label>
        <input type='date' name='create_texture_modified_date' id='create_texture_modified_date' />

        <label for='create_texture_resolution'>Resolution: </label>
        <input type='text' name='create_texture_resolution' id='create_texture_resolution' required />

        <label for='create_texture_file_path'>File Path: </label>
        <input type='text' name='create_texture_file_path' id='create_texture_file_path' required />

        <label for='create_texture_id_artist'>Artist ID: </label>
        <select name='create_texture_id_artist' id='create_texture_id_artist'>
            <option value='' disabled selected>Select an Artist</option>
            {{#each artists}}
            <option value='{{this.id_artist}}'>
                {{this.id_artist}} - {{this.first_name}} {{this.last_name}}
            </option>
            {{/each}}
        </select>

        <label for='create_texture_is_active'>Is Active: </label>
        <select name='create_texture_is_active' id='create_texture_is_active' required >
            <option value='' selected>Select</option>
            <option value='1'>Active</option>
            <option value='0'>Inactive</option>
        </select>

        <input type='submit' class="submit"/>
    </form>

    {{! UPDATE form }}
    <form class='cuForm' id='update_texture_form' method='POST' action='/textures/update'>
        <h2>Update a Texture</h2>

        <label for='update_texture_id'>Texture to Update: </label>
        <select name='update_texture_id' id='update_texture_id' required>
            <option value='' disabled selected>Select a Texture</option>
            {{#each textures}}
            <option value="{{this.ID}}"
                data-description="{{this.Description}}" 
                data-modified-date="{{this.[Modified On]}}"
                data-resolution="{{this.Resolution}}"
                data-file-path="{{this.[File Path]}}"
                data-artist="{{this.ArtistID}}"
                data-active="{{this.Active}}">
                {{this.ID}} - {{this.Name}}
            </option>
            {{/each}}
        </select>

        <label for='update_texture_description'>Description: </label>
        <input type='text' name='update_texture_description' id='update_texture_description' />

        <label for='update_texture_modified_date'>Modified Date: </label>
        <input type='date' name='update_texture_modified_date' id='update_texture_modified_date' />

        <label for='update_texture_resolution'>Resolution: </label>
        <input type='text' name='update_texture_resolution' id='update_texture_resolution' required />

        <label for='update_texture_file_path'>File Path: </label>
        <input type='text' name='update_texture_file_path' id='update_texture_file_path' required />

        <label for='update_texture_id_artist'>Artist ID: </label>
        <select name='update_texture_id_artist' id='update_texture_id_artist'>
            <option value='' disabled selected>Select an Artist</option>
            {{#each artists}}
            <option value='{{this.id_artist}}'>
                {{this.id_artist}} - {{this.first_name}} {{this.last_name}}
            </option>
            {{/each}}
        </select>

        <label for='update_texture_is_active'>Is Active: </label>
        <select name='update_texture_is_active' id='update_texture_is_active' required >
            <option value='' disabled selected>Select</option>
            <option value='1'>Active</option>
            <option value='0'>Inactive</option>
        </select>

        <input type='submit' class="submit"/>
    </form>

    {{! DELETE form }}
    <form class='cuForm' id='delete_texture_form' method='POST' action='/textures/delete'>
        <h2>Delete a Texture</h2>

        <label for='delete_texture_id'>Texture to Delete: </label>
        <select name='delete_texture_id' id='delete_texture_id' required>
            <option value='' disabled selected>Select a Texture</option>
            {{#each textures}}
            <option value='{{this.ID}}' required>
                {{this.ID}}
                -
                {{this.Name}}
            </option>
            {{/each}}
        </select>

        <input type='submit' class="submit"/>
    </form>
</div>

{{!-- Auto Populate --}}
<script>
    const textureSelect = document.getElementById('update_texture_id');
    const descriptionInput = document.getElementById('update_texture_description');
    const modifiedDateInput = document.getElementById('update_texture_modified_date');
    const resolutionInput = document.getElementById('update_texture_resolution');
    const filePathInput = document.getElementById('update_texture_file_path');
    const artistInput = document.getElementById('update_texture_id_artist');
    const activeInput = document.getElementById('update_texture_is_active');

    textureSelect.addEventListener('change', function() {
        // Get the currently selected option element
        const selectedOption = this.options[this.selectedIndex];

        // Pull the data attributes we added in Step 1
        const description = selectedOption.getAttribute('data-description');
        const modifiedDate = selectedOption.getAttribute('data-modified-date');
        const resolution = selectedOption.getAttribute('data-resolution');
        const filePath = selectedOption.getAttribute('data-file-path');
        const artist = selectedOption.getAttribute('data-artist');
        const active = selectedOption.getAttribute('data-active');

        const mdParts = modifiedDate.split('/');
        const mdFormatted = `${mdParts[2]}-${mdParts[1]}-${mdParts[0]}`; 

        // Populate the input fields
        descriptionInput.value = description || '';
        modifiedDateInput.value = mdFormatted || '';
        resolutionInput.value = resolution || '';
        filePathInput.value = filePath || '';
        artistInput.value = artist || '';
        activeInput.value = active || '';
    });
</script>